<style>
 body {
     background-color: #f9f9fa;
     overflow-y : auto; 
 }

 .flex {
     -webkit-box-flex: 1;
     -ms-flex: 1 1 auto;
     flex: 1 1 auto
 }

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -ms-box-shadow: none
 }

 .pl-3,
 .px-3 {
     padding-left: 1rem !important
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 0
 }

 .card .card-title {
     color: #000000;
     margin-bottom: 0.625rem;
     text-transform: capitalize;
     font-size: 0.875rem;
     font-weight: 500
 }

 .card .card-description {
     margin-bottom: .875rem;
     font-weight: 400;
     color: #76838f
 }

 p {
     font-size: 0.875rem;
     margin-bottom: .5rem;
     line-height: 1.5rem
 }

 .table-responsive {
     display: block;
     width: 100%;
     overflow-x: auto;
     -webkit-overflow-scrolling: touch;
     -ms-overflow-style: -ms-autohiding-scrollbar
 }

 .table,
 .jsgrid .jsgrid-table {
     width: 100%;
     max-width: 100%;
     margin-bottom: 1rem;
     background-color: transparent
 }

 .table thead th,
 .jsgrid .jsgrid-table thead th {
     border-top: 0;
     border-bottom-width: 1px;
     font-weight: 500;
     font-size: .875rem;
     text-transform: uppercase
 }

 .table td,
 .jsgrid .jsgrid-table td {
     font-size: 0.875rem;
     padding: .875rem 0.9375rem
 }

 .badge {
     border-radius: 0;
     font-size: 12px;
     line-height: 1;
     padding: .375rem .5625rem;
     font-weight: normal
 }
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
#barra {
    background-color: #5F9EA0;
}
table.tableSection {
    height: 250px;
    display: table;
    width: 100%;
}

table.tableSection thead,
table.tableSection tbody {
    width: 100%;
    height: 100%:
}

table.tableSection thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px); /* assuming scrollbar width as 16px */
}

table.tableSection tbody {
    overflow: auto;
    height: 250px;
    display: block;
}

table.tableSection tr {
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
}

</style>

<nav id="barra" class="navbar navbar-expand-lg navbar-dark teal mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Indicadores económicos</h4>
                        <p class="card-description"> En esta tabla, se mostrará el valor de la UF de los últimos 30 días </p>
                        <div class="table-responsive">
                            <table id="indicadores" class="tableSection">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Precio</th>
                                        <th>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @indicadores.each do |indicador| %>
                                        <tr>
                                            <td><%= indicador.fecha.strftime("%d/%m/%y") %></td>
                                            <td>$<%= indicador.valor %></td>
                                            <td><a href="/indicadores/<%= indicador.id %>" button type="button" class="btn btn-success"><i style="margin-right: 0.5em; color: #EEEEEE;" class="bi bi-search"></i>Detalle</a></div></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">